body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    position: relative;
    background-color: rgb(44, 44, 44);
    color:aliceblue;
}

#root{
    width: 100%;
    font-family: 'segoe-ui-black', sans-serif;
    
}

main{
    text-align: center;
//    height: 100vh;
}
