body{
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    position: relative;
    background-color: rgb(44, 44, 44);
    color:aliceblue;
}


main{
    text-align: center;
   
}
